{% extends "base.html" %}
{% set active_page = "index" %}
{% block title %}Home{% endblock %}
{% block content %}
	<div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Munadi</h1>
        <p>This is the official site for the Munadi App, developed to work under any GNU/Linux, Windows, Android and Raspberry Pi. 
          Currently, downloadable builds are available for GNU/Linux and Android only.</p>
        <p>
          <a class="btn btn-lg btn-default" href="#downloads">Downloads &raquo;</a>
        </p>
      </div>

	  <div class="page-header">
	  <h1 id="features">Features</h1>
	  </div>
	  <ul class="list-group">
	  <li class="list-group-item">Prayer times for almost any city.</li>
	  <li class="list-group-item">Light and free from advertisements.</li>
	  <li class="list-group-item">Toggle between Hijri and Georgian cals.</li>
	  <li class="list-group-item">Ability to select your preferred Math&#39;hab.</li>
    <li class="list-group-item">Ability to adjust prayer time +/- manually.</li>
    <li class="list-group-item">Ability to enable, mute or adjust Athan volume.</li>
	  <li class="list-group-item">Choose from 10 different popular calculation methods.</li>

    </ul>

    <div class="page-header">
	    <h1 id="screenshots">Screenshots</h1>
	  </div>

    <div>
      <div class="row row-cols-1 row-cols-md-3">
        <div class="col-md-3">
          <img class="img-thumbnail" src="https://gitlab.com/munadi/munadi/raw/master/screenshots/1812/0_main_page.png" alt="Screenshot of Munadi running under GNU/Linux">
        </div>
        <div class="col-md-3">
          <img class="img-thumbnail" src="https://gitlab.com/munadi/munadi/raw/master/screenshots/1812/1_location_search.png" alt="Screenshot of Munadi running under GNU/Linux">
        </div>
        <div class="col-md-3">
          <img class="img-thumbnail" src="https://gitlab.com/munadi/munadi/raw/master/screenshots/1812/2_settings_page.png" alt="Screenshot of Munadi running under GNU/Linux">
        </div>
      </div>
    </div>

	  <div class="page-header">
	    <h1 id="downloads">Downloads</h1>
	  </div>

    <h3>Snap</h3>
    <p><em>For Ubuntu, or any other distribution that supports Snap packaging, e.g. Mint.</em></p>
    <a href="https://snapcraft.io/munadi">
      <img alt="Get it from the Snap Store" src="https://snapcraft.io/static/images/badges/en/snap-store-black.svg" />
    </a>
    
    <h3>Flatpak</h3>
    <p><em>For Fedora, or any other distribution that supports Flatpak packaging, e.g. Endless.</em></p>
    <a href='https://flathub.org/apps/details/org.munadi.Munadi'>
      <img width='240' alt='Download on Flathub' src='https://flathub.org/assets/badges/flathub-badge-en.png'/>
    </a>
    
    <h3>Android</h3>
    <p><em>Android version is not fully ready, you can however download the current APK from <a href="https://gitlab.com/munadi/munadi/tree/master/pkg/android/">here</a>.</em></p>
    
{% endblock %}
