#title_logo {
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
    font-family: 'Open Sans Condensed', sans-serif;
    /*text-shadow: -1px 0 #696969, 0 1px #696969, 1px 0 #696969, 0 -1px #696969;*/
}

.nav-pills > li > a, .nav-pills > li > a:hover {
    color: #737373;
}

.nav-pills > .active > a, .nav-pills > .active > a:hover {
    background-color: #737373 !important;
    color: #ffffff;
}

.text-muted {
    /*color: #337AB7;*/
    /*font-weight: bold;*/
    /*text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;*/
}