<h1>Munadi 20.09.1</h1>
<p>This release fixes some minor RTL issues and provides Snap improvements:</p>

<ul>
<li>Behind the scene improvements to RTL</li>
<li>Enabled perviously disabled window switching using dragging</li>
<li>Switched to core20 and cmake, which means supporting Snap going forward is possible</li>
</ul>

</br>

<h1>Munadi 20.09</h1>
<p>This release adds some requested features:</p>

<ul>
<li>Added support for RTL languages</li>
<li>Added Arabic translation, thanks to Damascene</li>
<li>Some other minor enhancements</li>
</ul>

</br>

<h1>Munadi 20.07</h1>
<p>This release adds some requested features:</p>

<ul>
<li>Added more calculation methods</li>
<li>Ability to add custom Athans</li>
</ul>

<p>Note: Flatpak is now the preferred packaging method, this might be the last Snap release</p>

</br>

<h1>Munadi 19.12</h1>
<p>This is a minor release, mainly adding support for Snap packaging:</p>

<ul>
<li>Removed about page and merged it with settings page</li>
<li>Added support for Snap</li>
<li>Minor UI changes</li>
</ul>

</br>

<h1>Munadi 18.12</h1>
<p>This is a minor release, some features were removed, and new ones added:</p>

<ul>
<li>Removed: Date can now go forward and backwards</li>
<li>Athan volumes can be configured individually</li>
<li>Added support for Android and Flatpack</li>
<li>UI enhancements</li>
</ul>

</br>
